In [2]:
import csv
import pandas as pd

# Area_NEW

In [3]:
doingbiz = pd.read_csv("doingbusiness.csv", encoding="cp1252")
doingbiz["Year"] = doingbiz.Year.str.replace("DB","")
doingbiz["Year"] = doingbiz.Year.astype('int')

In [4]:
doingbiz.head()

,Economy,region,incomegroup,Year,Ease of Doing Business Rank,Overall DTF,Starting a Business - Rank,Starting a Business - DTF,Starting a Business - Procedure – Men (number),Starting a Business - Time – Men (days),...,Resolving Insolvency - DTF,Resolving Insolvency - Recovery rate (cents on the dollar),Resolving Insolvency - Time (years),Resolving Insolvency - Cost (% of estate),Resolving Insolvency - Outcome (0 as piecemeal sale and 1 as going concern),Resolving Insolvency - Strength of insolvency framework index (0-16),Resolving Insolvency - Commencement of proceedings index (0-3),Resolving Insolvency - Management of debtor's assets index (0-6),Resolving Insolvency - Reorganization proceedings index (0-3),Resolving Insolvency - Creditor participation index (0-4)
0,Afghanistan,South Asia,Low income,2017,183.0,38.10,42.0,92.08,3.0,7.0,...,23.62,26.5,2.0,25.0,0.0,3.0,2.0,0.0,0.0,1.0
1,Afghanistan,South Asia,Low income,2016,182.0,38.42,38.0,92.19,3.0,7.0,...,23.62,26.5,2.0,25.0,0.0,3.0,2.0,0.0,0.0,1.0
2,Afghanistan,South Asia,Low income,2015,NaN,40.50,NaN,92.68,3.0,7.0,...,23.60,26.4,2.0,25.0,0.0,3.0,2.0,0.0,0.0,1.0
3,Afghanistan,South Asia,Low income,2014,NaN,40.78,NaN,93.27,3.0,5.0,...,23.62,26.5,NaN,25.0,0.0,3.0,2.0,0.0,0.0,1.0
4,Afghanistan,South Asia,Low income,2013,NaN,40.20,NaN,90.28,4.0,7.0,...,28.42,26.4,NaN,25.0,0.0,NaN,NaN,NaN,NaN,NaN

In [9]:
area_data = doingbiz[['Economy','Year','Ease of Doing Business Rank']]

In [10]:
area_data

          Economy  Year  Ease of Doing Business Rank
0     Afghanistan  2017                        183.0
1     Afghanistan  2016                        182.0
2     Afghanistan  2015                          NaN
3     Afghanistan  2014                          NaN
4     Afghanistan  2013                          NaN
5     Afghanistan  2012                          NaN
6     Afghanistan  2011                          NaN
7     Afghanistan  2010                          NaN
8     Afghanistan  2009                          NaN
9     Afghanistan  2008                          NaN
10    Afghanistan  2007                          NaN
11    Afghanistan  2006                          NaN
12    Afghanistan  2005                          NaN
13        Albania  2017                         58.0
14        Albania  2016                         90.0
15        Albania  2015                          NaN
16        Albania  2014                          NaN
17        Albania  2013                          NaN
18        Albania  2012                          NaN
19        Albania  2011                          NaN
20        Albania  2010                          NaN
21        Albania  2009                          NaN
22        Albania  2008                          NaN
23        Albania  2007                          NaN
24        Albania  2006                          NaN
25        Albania  2005                          NaN
26        Albania  2004                          NaN
27        Algeria  2017                        156.0
28        Algeria  2016                        163.0
29        Algeria  2015                          NaN
...           ...   ...                          ...
2458   Yemen, Rep  2005                          NaN
2459   Yemen, Rep  2004                          NaN
2460       Zambia  2017                         98.0
2461       Zambia  2016                         94.0
2462       Zambia  2015                          NaN
2463       Zambia  2014                          NaN
2464       Zambia  2013                          NaN
2465       Zambia  2012                          NaN
2466       Zambia  2011                          NaN
2467       Zambia  2010                          NaN
2468       Zambia  2009                          NaN
2469       Zambia  2008                          NaN
2470       Zambia  2007                          NaN
2471       Zambia  2006                          NaN
2472       Zambia  2005                          NaN
2473       Zambia  2004                          NaN
2474     Zimbabwe  2017                        161.0
2475     Zimbabwe  2016                        157.0
2476     Zimbabwe  2015                          NaN
2477     Zimbabwe  2014                          NaN
2478     Zimbabwe  2013                          NaN
2479     Zimbabwe  2012                          NaN
2480     Zimbabwe  2011                          NaN
2481     Zimbabwe  2010                          NaN
2482     Zimbabwe  2009                          NaN
2483     Zimbabwe  2008                          NaN
2484     Zimbabwe  2007                          NaN
2485     Zimbabwe  2006                          NaN
2486     Zimbabwe  2005                          NaN
2487     Zimbabwe  2004                          NaN

[2488 rows x 3 columns]

In [13]:
def blah(country, measure, year):
    if len(area_data[(area_data.Economy == country) & (area_data.Year == year)][measure].tolist()) == 0: 
        return 0
    else: 
        val = area_data[(area_data.Economy == country) & (area_data.Year == year)][measure].tolist()[0]
        if pd.isnull(val):
            return 0
        else:
            return val

In [ ]:
columns = ['Economy','Measure_Type','2017','2016','2015','2014','2013','2012','2011','2010','2009','2008','2007','2006','2005','2004']
new_area = pd.DataFrame(columns = columns)
country_list = area_data.Economy.unique()
measures = ['Ease of Doing Business Rank']

#country_list = ["Afghanistan"]
for country in country_list:
    for measure in measures:
        
        df = pd.DataFrame([[country,measure, blah(country, measure, 2017), blah(country, measure, 2016), 
                            blah(country, measure, 2015),
                            blah(country, measure, 2014), blah(country, measure, 2013), blah(country, measure, 2012),
                            blah(country, measure, 2011), blah(country, measure, 2010), blah(country, measure, 2009),
                            blah(country, measure, 2008), blah(country, measure, 2007), blah(country, measure, 2006),
                            blah(country, measure, 2005), blah(country, measure, 2004)]], columns = columns)
                            
        new_area = new_area.append(df, ignore_index=True)

In [133]:
new_area.to_csv("area_doingbiz.csv")

# Convert Atkinson's Index to json

In [4]:
atk = pd.read_csv("Income_ineqality_UN.csv", encoding="cp1252")

In [7]:
atk.to_json("Income_ineqality_UN.json", orient = 'records')

In [30]:
area = pd.read_csv("area_doingbiz.csv", encoding = "cp1252")
area.to_json("area_doing.json", orient = 'records')